# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.env
.venv

# VS Code settings
.vscode/

# macOS
.DS_Store

# Log files
*.log

# Selenium WebDriver
chromedriver/

# Pytest cache
.pytest_cache/

# Ignore compiled Python files
*.so
